h1{
    text-align: center;
    color: #ad313c;
    border-top: 50%;
}
body{
    background-image: url("back.jpg");
    font-family: 'ZCOOL QingKe HuangYou', cursive;
}
head{
    font-family: 'ZCOOL QingKe HuangYou', cursive;
}