:root{
  --back: linear-gradient(to right, #ff0066, #6600ff);
  --text: white;
}

h1{
  text-align: center;
  color: white;
  border-top: 50%;
}

body{
  background: var(--back);
  font-family: 'ZCOOL QingKe HuangYou', cursive;
}

head{
  font-family: 'ZCOOL QingKe HuangYou', cursive;
}

input[type=text] {
  width: 75%;
  background-color: var(--back);
  color: var(--back);
  padding: 14px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  color: white;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: var(--back);
}

input[type=submit] {
  width: 100%;
  background-color: var(--back);
  color: var(--back);
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
} 

div {
  border-radius: 5px;
  background-color: black;
  padding: 20px;
  color: white;
}

input[type=date] {
  width: 50%;
  background-color: var(--back);
  color: var(--back);
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=date], select {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: var(--back);
}

input[type=text] {
  width: 75%;
  background-color: var(--back);
  color: var(--back);
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: white;
}

input[type=number] {
  min-width: 80px;
  max-width: 100px;
  background-color: var(--back);
  color: var(--back);
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: white;
  display: inline-block;
}

input[type=number], select {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: var(--back);
}
