h1{
    text-align: center;
    color: #1f0104;
    border-top: 50%;
}

body{
    background-image: url("xmasback.jpg");
    font-family: 'ZCOOL QingKe HuangYou', cursive;
}

head{
    font-family: 'ZCOOL QingKe HuangYou', cursive;
}

p{
    text-align: right;
}