h1{
    text-align: center;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
}

h2{
    text-align: center;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
}

h3{
    text-align: center;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
}

p{
    text-align: center;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
}
